
<!--Store this code in 'index.html' file inside the 'templates' folder-->
<html lang="en">
    <head>
        <title>index</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body bgcolor="#cfe2f3">
        <div class="one">
            <div class="two">
                <div class="col-sm-4">
                    <p><img class="descimage"src="static/images/harvard-logo.webp"></p>
                </div>
                <ul>
                    <li class="active"><a href="{{url_for('index')}}">Home</a></li>
                    <li><a href="{{url_for('display')}}">User Details</a></li>
                    <li><a href="{{url_for('update')}}">Update Info</a></li>
                    <li><a href="{{url_for('logout')}}">Log out</a></li>
                </ul>
            </div>
            <div class="content" align="center">
                <div class="topbar">
                    <h2>Welcome!! CS50 Home Page</h2>                   
                </div></br></br>
                <div class="contentbar">
                    <div class="cs50msg">{{ cs50msg }}</div>
                </div>
                 
            </div>
        </div>
    </body>
</html>